.portfolio {
  margin-top: 70px;
  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 90px;
  }

  .header__content {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 1280px) {
  .portfolio {
    margin-top: 100px;
  }

  .header__content {
    width: calc(100% - 140px);
  }
}
